body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}


header {
  background-color: rgba(241, 241, 241, 0.5); 
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

main {
  margin-top: 5px;
}

section {
  padding: 100px 20px;
}

.home-section{
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; 
  width: 100%;
  
  
}



.intro {

  
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: center; 
  width: 100%;
  padding-left: 300px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

img {
  max-width: 40%;
  height: 30%; 
  margin-bottom: 20px; 
  
}
