body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 50px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.header-section, .aboutme-section, .education-section, .currentwork-section, .skills-section, .contactme-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-text, .aboutme-text, .education-section, .currentwork-section, .skills-section, .contactme-section {
  flex: 1;
  padding: 20px;
}

.header-image img, .aboutme-image img {
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 10px;
}

h1, h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    text-align: center;
  }
  
  .header-image img, .aboutme-image img {
    max-width: 100%;
  }
}
